
@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;

}
body {
    background-color: #29323c;
    overflow-x: hidden;
  }
a {
  text-decoration: none;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
}

.brand h1 span {
  color: crimson;
}

#header {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
}

#header .header {
  min-height: 8vh;
  background-color: rgba(31, 30, 30, 0.24);
  transition: 0.3s ease background-color;
}

#header .nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  padding: 0 10px;
  position: relative;
}

#header .nav-list ul {
  list-style: none;
  position: absolute;
  background-color: rgb(31, 30, 30);
  width: 100vw;
  height: 100vh;
  left: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: left 0.3s ease;
  z-index: 1;
}

#header .nav-list ul.active {
  left: 0%;
}

#header .nav-list ul a {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 20px;
  display: block;
}

#header .nav-list ul a::after {
  content: attr(data-after);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: rgba(240, 248, 255, 0.021);
  font-size: 8rem;
  letter-spacing: 50px;
  z-index: -1;
  transition: 0.3s ease letter-spacing;
}

#header .nav-list ul li:hover a::after {
  transform: translate(-50%, -50%) scale(1);
  letter-spacing: initial;
}

#header .nav-list ul li.dropdown:hover > a::after {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
	opacity: 1;
	z-index: 2; 
  }
  
  #header .nav-list ul li.dropdown .dropdown-content {
	display: none;
	position: absolute;
	top: 100%; 
	left: 0;
	z-index: 1;
  }
  
  #header .nav-list ul li.dropdown .dropdown-content a[data-after]::after {
	position: fixed;
	transform: translate(-50%, -50%) scale(0);
	letter-spacing: initial;
  }
  
  #header .nav-list ul li.dropdown .dropdown-content a:hover[data-after]::after {
	transform: translate(-50%, -50%) scale(1);
  }
  
  #header .nav-list ul li.dropdown:hover .dropdown-content {
	display: block;
  }
  
  #header .nav-list ul li.dropdown:hover > a::after {
	opacity: 0;
  }
  
  


#header .nav-list ul li:hover a {
  color: crimson;
}

#header .hamburger {
  height: 60px;
  width: 60px;
  display: inline-block;
  border: 3px solid white;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  cursor: pointer;
  transform: scale(0.8);
  margin-right: 20px;
}

#header .hamburger:after {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid white;
  animation: hamburger_puls 1s ease infinite;
}

#header .hamburger .bar {
  height: 2px;
  width: 30px;
  position: relative;
  background-color: white;
  z-index: -1;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: white;
  transition: 0.3s ease;
  transition-property: top, bottom;
}

#header .hamburger .bar::after {
  top: 8px;
}

#header .hamburger .bar::before {
  bottom: 8px;
}

#header .hamburger.active .bar::before {
  bottom: 0;
}

#header .hamburger.active .bar::after {
  top: 0;
}


#header .nav-list ul li.dropdown {
  position: relative;
}

#header .nav-list ul li.dropdown:hover .dropdown-content {
  display: flex;
}

#header .nav-list ul li.dropdown .dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  flex-direction: column;
  background-color: rgb(31, 30, 30);
  z-index: 2;
  width: max-content;
  min-width: 100%;
  padding: 0;
  margin-top: -1rem;
}

#header .nav-list ul li.dropdown .dropdown-content a {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 10px 20px;
  display: block;
}

#header .nav-list ul li.dropdown .dropdown-content a:hover {
  background-color: crimson;
}

#header .nav-list ul li.dropdown:hover > a {
  color: crimson;
}

#header .nav-list ul li.dropdown:hover .dropdown-content {
  display: flex;
  position: absolute;
  top: calc(100% + 5px);
  right: 0;
  width: max-content;
  min-width: 100%;
}

#header .nav-list ul li.dropdown .dropdown-content {
  top: calc(100% + 5px);
  left: 0;
}

#header .nav-list ul li.dropdown:hover .dropdown-content {
  display: flex;
  position: absolute;
  top: calc(100% + 5px);
  left: 10px;
  width: max-content;
  min-width: 100%;
}

#header .nav-list ul li.dropdown .dropdown-content a {
  padding: 10px 20px;
}

#header .nav-list ul li.dropdown:hover > a {
  color: crimson;
  cursor: pointer;
}

#header .nav-list ul li.dropdown .dropdown-content a:hover {
  background-color: crimson;
  cursor: pointer;
}

#myCarousel {
    padding-top: 100px;
    width: 100vw;
    height: auto;
  }

  .carousel-item{
    height: 50rem;
    background:#29323c;
    color:white;
    position:relative;
}
.continut{
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    padding-bottom: 50px;
}
.video-continut {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
 }

.video-continut img {
    max-width: 100%;
    max-height: 100%;
  
}
.video-continut video {
  max-width: 100%;
  max-height: 100%;

}

.map-container {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
  }




.contact-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

h2 {
  text-align: center;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form textarea {
  height: 100px;
}

form input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #45a049;
}





@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color: crimson;
		font-weight: 500;
	}
}

@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
	}


	#hero h1 {
		font-size: 7rem;
	}

	#services .service-bottom .service-item {
		flex-basis: 45%;
		margin: 2.5%;
	}

	#projects .project-item {
		flex-direction: row;
	}
	#projects .project-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	#projects .project-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	#projects .all-projects .project-info {
		height: 100%;
	}
	#projects .all-projects .project-img {
		height: 100%;
	}

	#about .about {
		flex-direction: row;
	}
	#about .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}
	#about .about .col-left .about-img::after {
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 10px solid crimson;
	}
	#about .col-right {
		text-align: left;
		padding: 30px;
	}
	#about .col-right h1 {
		text-align: left;
	}

	#contact .contact {
		flex-direction: column;
		padding: 100px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
	}
	#contact .contact-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}
	#contact .contact-item {
		width: 30%;
		margin: 0;
		flex-direction: row;
	}
	#contact .contact-item .icon {
		height: 100px;
		width: 100px;
	}
	#contact .contact-item .icon img {
		object-fit: contain;
	}
	#contact .contact-item .contact-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}

}

@media only screen and (min-width: 1200px) {

	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}

	#services .service-bottom .service-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
}


.go-top-btn
{

    position:fixed;
    bottom:35px;
    right:35px;
    border-radius:50%;
    cursor:pointer;
    height:50px;
    width:50px;
    background:#fff;
    border: 3px solid #333;
    display:none;
    justify-content: center;
    align-items: center;
    z-index: 9999;

}
.go-top-btn img{

    width:50px;
    height:50px;
}